aiobotocore==2.14.0
aiohttp==3.8.5
aioitertools==0.10.0
aiosignal==1.2.0
alabaster==0.7.13
altair==5.0.1
anaconda-client==1.2.2
anaconda-cloud-auth==0.6.0
anaconda-project==0.11.1
anyio==3.7.0
appdirs==1.4.4
applaunchservices==0.2.0
appnope==0.1.2
appscript==1.1.2
archspec==0.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.3.0
arrow==1.2.3
astroid==2.15.0
astropy==5.2.2
asttokens==2.2.1
async-lru==1.0.2
atomicwrites==1.4.0
attrs==23.1.0
Automat==20.2.0
autopep8==1.7.0
Babel==2.11.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==4.0.1
beautifulsoup4==4.12.2
binaryornot==0.4.4
black==23.3.0
bleach==6.0.0
blinker==1.6.2
bokeh==3.2.1
boltons==23.0.0
botocore==1.29.44
Bottleneck==1.3.7
Brotli==1.0.9
cachetools==5.3.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.3
cloudpickle==2.2.1
clyent==1.2.2
colorama==0.4.6
colorcet==3.0.0
comm==0.2.5
conda==23.7.2
conda-build==3.24.0
conda-content-trust==0.1.3
conda-libmamba-solver==23.7.0
conda-pack==0.6.0
conda-package-handling==2.0.0
conda-repo-cli==1.0.75
conda-token==0.4.0
conda-verify==3.4.2
conda_index==23.3.0
conda_package_streaming==0.7.0
constantly==15.1.0
construct==2.10.68
construct-typing==0.5.6
contourpy==1.1.0
cookiecutter==2.3.0
cryptography==41.0.3
cssselect==1.2.0
cycler==0.11.0
cytoolz==0.12.1
dask==2023.10.1
datashader==0.14.2
debugpy==1.6.7
decorator==5.1.0
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.7
distributed==2023.10.1
distro==1.8.0
docstring-to-markdown==0.13.0
docutils==0.20.1
dropbox==12.0.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.10.0
fastjsonschema==2.16.0
filelock==3.12.2
flake8==6.1.0
Flask==2.2.2
Flask-Cors==4.0.1
fonttools==4.25.0
frozenlist==1.4.0
fsspec==2023.10.0
future==0.18.3
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.32
gmpy2==2.1.5
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.2
greenlet==2.0.2
gspread==6.1.2
h11==0.14.0
h5py==3.10.0
HeapDict==1.0.1
holoviews==1.16.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
hvplot==0.8.4
hyperlink==21.0.0
idna==3.4
imagecodecs==2023.9.1
imageio==2.31.1
imagesize==1.4.1
imbalanced-learn==0.11.0
importlib-metadata==6.2.0
incremental==23.1.0
inflection==0.5.1
iniconfig==1.1.1
intake==0.6.6
intervaltree==3.1.0
ipykernel==6.24.0
ipython==8.15.0
ipython-genutils==0.2.0
ipywidgets==8.1.0
isort==5.12.0
itemadapter==0.6.0
itemloaders==1.0.6
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.19.0
jellyfish==0.11.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.0
json5==0.9.11
jsonalias==0.1.1
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.18.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.6.3
jupyter-lsp==1.6.1
jupyter_client==8.1.0
jupyter_core==5.4.0
jupyter_server==2.11.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.25.0
keyring==24.2.0
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
lazy_loader==0.2.9
lckr_jupyterlab_variableinspector==4.0.3
libarchive-c==3.3.3
libmambapy==0.26.1
linkify-it-py==2.0.1
llvmlite==0.40.0
lmdb==1.4.1
locket==1.0.0
lxml==4.9.2
lz4==4.0.4
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.4.1
mdurl==0.1.2
menuinst==1.4.25
mistune==3.0.1
more-itertools==10.0.0
mpmath==1.2.1
msgpack==1.0.6
multidict==6.0.4
multipledispatch==0.6.0
munkres==1.1.4
mypy==1.5.2
mypy-extensions==1.1.0
navigator-updater==0.2.1
nbclient==0.9.1
nbconvert==7.4.0
nbformat==5.8.1
nest-asyncio==1.5.7
networkx==3.2
nltk==3.9.0
notebook==7.0.4
notebook_shim==0.2.3
numba==0.57.1
numexpr==2.9.1
numpy==1.26.4
numpydoc==1.6.0
oauth2client==4.1.3
oauthlib==3.2.2
openpyxl==3.0.10
overrides==7.4.0
packaging==23.2
pandas==2.2.1
pandocfilters==1.5.0
panel==0.15.4
param==1.12.2
parsel==1.8.1
parso==0.8.3
partd==1.4.0
pathlib==1.0.1
pathspec==0.11.2
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.0.1
pkce==1.0.3
pkginfo==1.9.6
platformdirs==3.10.0
plotly==5.20.0
pluggy==1.2.0
ply==3.11
prometheus-client==0.16.0
prompt-toolkit==3.0.40
Protego==0.1.16
proto-plus==1.24.0
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyaes==1.6.1
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.2.8
pycodestyle==2.11.0
pycosat==0.6.4
pycparser==2.21
pyct==0.5.0
pycurl==7.45.1
pydantic==2.4.0
pydeck==0.8.2
PyDispatcher==2.0.5
pydocstyle==6.3.0
pyerfa==2.0.0
pyflakes==3.1.0
Pygments==2.15.0
PyJWT==2.8.0
pylint==3.1.3
pylint-venv==2.3.0
pyls-spyder==0.4.0
pyobjc-core==8.6
pyobjc-framework-Cocoa==8.6
pyobjc-framework-CoreServices==8.6
pyobjc-framework-FSEvents==8.6
pyodbc==4.0.39
pyOpenSSL==23.2.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PySocks==1.7.1
pytest==7.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.8.0
python-slugify==8.0.1
python-snappy==0.6.1
pytoolconfig==0.3.0
pytz==2023.3
pyviz_comms==2.3.2
pywavelets==1.5.0
PyYAML==6.0.1
pyzmq==25.1.0
QDarkStyle==3.0.2
qstylizer==0.2.2
QtAwesome==1.2.3
qtconsole==5.5.2
QtPy==2.4.0
queuelib==1.6.2
referencing==0.30.0
regex==2023.6.3
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.4
rich==13.5.1
rope==1.13.1
rpds-py==0.9.3
rsa==4.9
Rtree==1.1.0
ruamel-yaml-conda==0.15.100
ruamel.yaml==0.17.32
s3fs==2023.1.0
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.3
Scrapy==2.10.1
seaborn==0.12.2
semver==3.0.1
Send2Trash==1.10.0
service-identity==21.1.0
sip==6.7.9
six==1.16.0
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
solana @ git+https://github.com/michaelhly/solana-py.git
solders==0.21.0
sortedcontainers==2.5.0
soupsieve==2.5.2
Sphinx==7.2.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.4
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.5
sphinxcontrib-serializinghtml==1.1.5
spyder==5.4.3
spyder-kernels==2.4.1
SQLAlchemy==2.0.22
stack-data==0.6.2
statsmodels==0.15.0
stone==3.3.1
streamlit==1.25.0
sympy==1.12.1
ta==0.11.0
tables==3.8.0
tabulate==0.9.0
tblib==1.7.0
Telethon==1.34.0
tenacity==8.2.2
terminado==1.0.0
text-unidecode==1.3
textdistance==4.5.0
threadpoolctl==3.2.0
three-merge==0.1.1
tifffile==2023.10.10
tinycss2==1.2.1
tldextract==3.5.0
toml==0.10.2
tomlkit==0.11.9
toolz==0.12.0
tornado==6.3.2
tqdm==4.67.0
traitlets==5.10.2
truststore==0.9.0
Twisted==23.10.0
typing_extensions==4.8.0
tzdata==2023.3.post1
tzlocal==5.0.1
uc-micro-py==1.0.2
ujson==5.9.0
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==2.0.7
validators==0.20.1
w3lib==2.2.0
watchdog==3.0.0
wcwidth==0.2.8
webencodings==0.5.1
websocket-client==1.6.2
websockets==11.0.3
Werkzeug==2.3.7
whatthepatch==1.0.4
widgetsnbextension==4.0.8
wrapt==1.15.0
wurlitzer==4.1.0
xarray==2023.10.0
xlwings==0.30.8
xyzservices==2023.10.0
yapf==0.40.0
yarl==1.9.2
zict==3.0.0
zipp==3.16.2
zope.interface==6.0
zstandard==0.19.0
